* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
}

#lol {
  width: 40vw;
}

iframe {
  width: 40vw;
  height: 40vh;
}

h1.title {
  font-size: 60px;
  margin-bottom: 100px;
  color: white;
  text-align: center;
}

.button-class {
  border: 3px solid white;
  color: white;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0 0 30px 0;
}

#navbar img {
  width: 300px;
}

#navbar .logo {
  text-align: center;
}

#navbar .logo img {
  cursor: pointer;
}

#navbar .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 79%;
  margin: 0 auto;
}

#navbar a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 30px;
}

#navbar a:hover {
  -webkit-transform: scale(1.24);
          transform: scale(1.24);
}

#home {
  text-align: center;
  background: url("../images/copy1.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  padding-top: 35vh;
}

#home h4 {
  color: white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}

#home a.phone {
  color: white;
  text-decoration: none;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home a.phone:hover {
  font-size: 60px;
}

#home #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home #whatsapp {
  display: block;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home #whatsapp:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

#home #facebook {
  font-size: 20px;
  margin: 10px;
  display: block;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home #facebook:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

#about {
  padding: 50px 20px;
  background: url("../images/aboutbg.jpg") no-repeat center center;
  background-size: cover;
}

#about.single {
  padding-top: 21vh;
}

#about .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  margin-bottom: 80px;
}

#about .info .text-center {
  text-align: center;
}

#about .info img {
  display: block;
  width: 500px;
  border-radius: 15px;
}

#about .info p {
  font-size: 30px;
  text-align: right;
  padding-left: 20px;
  vertical-align: middle;
}

#about .see-more {
  text-align: center;
  font-size: 25px;
}

#about .see-more a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  border: 3px solid white;
  -webkit-transition: 0.5s background;
  transition: 0.5s background;
}

#about .see-more a:hover {
  background: white;
  color: black;
}

#contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact-content #addresses {
  margin-top: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

#contact .contact-content label {
  color: white;
}

#contact .contact-content form {
  text-align: center;
}

#contact .contact-content input,
#contact .contact-content textarea {
  display: block;
  width: 40vw;
  padding: 10px;
  margin-bottom: 20px;
}

#contact .contact-content input[type="submit"] {
  width: 20vw;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  background: transparent;
  -webkit-transition: 0.5s background;
  transition: 0.5s background;
  border: 3px solid white;
  cursor: pointer;
}

#contact .contact-content input[type="submit"]:hover {
  background: white;
  color: black;
}

.menu-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.toggler {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #111;
}

.hamburger > div {
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger > div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  top: -10px;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger > div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  top: 10px;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-150%) translateY(-50%);
          transform: translateX(-150%) translateY(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu > div > div > ul > li {
  list-style: none;
}

.menu > div > div > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  text-transform: uppercase;
  margin: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.2rem;
  display: inline-block;
}

.menu > div > div > ul > li > a:hover {
  color: #fff44f;
}

.toggler:checked ~ .menu {
  visibility: visible;
}

.toggler:checked ~ .menu > div {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div {
  opacity: 1;
}

@media (min-width: 1000px) and (max-width: 1399px) {
  #about .info {
    width: 90%;
  }
  #about .info img {
    width: 400px;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  #about .info {
    width: 100%;
  }
  #about .info img {
    width: 350px;
  }
  #about .info p {
    font-size: 25px;
  }
}

@media (max-width: 799px) {
  .menu-wrap {
    display: block;
  }
  #navbar .flex {
    width: 100%;
    display: none;
  }
  #about h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  #about .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .info img {
    width: 300px;
  }
  #about .info p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    padding: 0;
  }
  #contact iframe,
  #contact #lol {
    width: 80vw;
    margin-bottom: 40px;
  }
  #contact .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .contact-content input,
  #contact .contact-content textarea {
    width: 80vw;
  }
}

@media (max-width: 599px) {
  #navbar a {
    font-size: 25px;
  }
  #home div a.phone {
    font-size: 50px;
  }
}

@media (max-width: 420px) {
  #navbar a {
    font-size: 20px;
  }
  #home div a.phone {
    font-size: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */